<!DOCTYPE html>
<html>
<head>
    <title>RentRadar</title>
</head>

<body>

<h1>RentRadar</h1>

<h2>Add Rental Property</h2>

{% if messages %}
    {% for message in messages %}

        {% if message.tags == 'success' %}
            <p style="color:green;">
                {{ message }}
            </p>
        {% endif %}

        {% if message.tags == 'error' %}
            <p style="color:red;">
                {{ message }}
            </p>
        {% endif %}

    {% endfor %}
{% endif %}

<form method="POST">

    {% csrf_token %}

    <label>Property Title</label><br>
    <input type="text" name="title"><br><br>

    <label>Owner Name</label><br>
    <input type="text" name="owner"><br><br>

    <label>Phone Number</label><br>
    <input type="text" name="phone"><br><br>

    <label>Area</label><br>
    <input type="text" name="area"><br><br>

    <label>City</label><br>
    <input type="text" name="city"><br><br>

    <label>Pincode</label><br>
    <input type="text" name="pincode"><br><br>

    <label>Rent</label><br>
    <input type="number" name="rent"><br><br>

    <label>Amenities</label><br>
    <input type="text" name="amenities"><br><br>

    <button type="submit">
        Submit
    </button>

</form>

</body>
</html>